* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.header {
    background-color: rgb(196, 0, 0);
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
}
.header-titulo{
    font-weight: bold;
}
.seccion {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);;
}
.seccion-titulo {
    padding: 1em;
    font-size: 2rem;
}
.tarjeta-seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
}
.tarjeta {
    width: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tarjeta img {
    width: 100%;
    height: 100%;
    padding-bottom: 2em;
  }
  
  .tarjeta h3 {
    font-size: 18px;
    color: #333;
    padding-bottom: 1em;
  }
  .tarjeta__btn {
    background-color: rgb(196, 0, 0);
    color: white;
    border: solid 2px black;
    padding: 0.5em;
    border-radius: 10px;
    transition: transform 0.5s ease;
  }
  .tarjeta__btn:hover {
    background-color: white;
    color: rgb(196, 0, 0);
    border: solid 2px black;
    border-radius: 10px;
    transform: scale(1.2);
  }
  .registrar__seccion {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(196, 0, 0);
  }
  .registrar__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 3em 5em;
    box-shadow: 0 5px 10px #333;
    border-radius: 10px;
  }
.registrar__titulo {
    padding-bottom: 1em;
    font-size: 2rem;
}
.registrar__btn {
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    padding: 1em;
}
form label {
    margin-bottom: 1em;
}
form label input {
    outline: none;
    border: none;
    border-bottom: #333 solid 1px;
    padding: 0 5px;
    font-size: 1.5rem;
}
form label input::placeholder {
    color: #33333364;
}
.registrar__btn:hover {
    background-color: rgba(196, 0, 0, 0.923);
    color: white;
}